# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# OS-specific files
.DS_Store

# Debugging files
npm-debug.log*

# Ignore specific signup files
src/views/signup.html
src/public/css/signup.css



